@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
.container{
    margin: auto;
    height: 40rem;
    width: 50rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/YPstmH.jpg");
    background-repeat: no-repeat;
    background-position: center;
    font-size: 85px;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #0f18cbdb;
    font-family: 'Monoton';
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
    }
